# Operations

There are lots of operations with pandas that will be really useful to you, but don't fall into any distinct category. Let's show them here in this lecture:

In [5]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()
# print(df.head())

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

### Info on Unique Values

In [2]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

### Number of unique values

In [10]:
df['col1'].nunique()

4

In [11]:
df['col2'].nunique()

3

### value_counts
Count the number of occurrences

In [12]:
df['col2'].value_counts()

col2
444    2
555    1
666    1
Name: count, dtype: int64

### Selecting Data

In [13]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [16]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1']>2) & (df['col2']==444)]
newdf
# print(newdf)

   col1  col2 col3
3     4   444  xyz

### Applying Functions
you can apply python built-in functions or custom functions to a DataFrame

In [19]:
def times2(x):
    return x*2

In [17]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [20]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [21]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [61]:
df['col1'].sum()

10

### Permanently Removing a Column

In [62]:
del df['col1']

In [63]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

### Get column and index names:

In [64]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [65]:
df.index

RangeIndex(start=0, stop=4, step=1)

### Sorting and Ordering a DataFrame:

In [66]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [67]:
df.sort_values(by='col2') #inplace=False by default

   col2 col3
0   444  abc
3   444  xyz
1   555  def
2   666  ghi

# Great Job!